/* .section-about {
  min-height: 80vh;
  justify-content: center;
  padding: 20px;
  padding: 120px 40px;
  text-align: center;
} */

.section-about {
  min-height: 40vh;
  max-width: 1200px;
  margin: auto;
  padding: 4rem 1rem;
}

.section-about h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
  color: #38bdf8;
}

.section-about p {
  font-size: clamp(12px, 2vw, 18px);
  color: #cbd5f5;
  line-height: 1.6;
  margin-bottom: 40px;
  text-align: justify;
}
