/* .section-about {
  min-height: 80vh;
  justify-content: center;
  padding: 20px;
  padding: 120px 40px;
  text-align: center;
} */

.section-about {
  min-height: 30vh;
  max-width: 1300px;
  margin: auto;
  padding: 5rem 1rem;
}

.section-about h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  color: #38bdf8;
}

.section-about p {
  font-size: clamp(16px, 2vw, 20px);
  color: #cbd5f5;
  line-height: 1.6;
  margin-bottom: 40px;
  text-align: justify;
}
